# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Project specific data files
*.bin
virtual_disk.bin
page_disk.bin

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
